.watchListContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.mainContainer{
    width: 99vw;
    padding: 4rem 0;
    box-sizing: border-box;

}



@media (min-width: 768px ) {
    .watchListContainer{
        flex-direction: row;
        width: 99%;
    }

    .mainContainer{
        padding: 3rem 0;
    }
}
