.listingContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.mainContainer{
    width: 100vw;
    padding: 4rem 0;
    box-sizing: border-box;

}


.button{
    background-color: #f9f9fd;
    border: solid 1px #657BAB;
    width: 90%;
    box-sizing: border-box;
    color: #657BAB;
    font-size: 1.3rem;
    padding: 1rem ;
    border-radius: .25rem;
    margin: 1rem 4%;
    font-family: 'Source Sans Pro', sans-serif;
}

.button:hover{
    color: #f9f9fd;
    background-color:#657BAB;
}

.button p {
    margin: 0;
}

.button svg{
    height: 4rem;
    fill: #657BAB;
}


@media (min-width: 768px ) {
    .listingContainer{
        flex-direction: row;
    }

    .mainContainer{
        padding: 3rem 0;
    }
}
