@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;900&display=swap');

.navBarContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Nunito', sans-serif;
    padding: .5rem;
    margin-bottom: 1rem;
    position: fixed;
    z-index: 6;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    top: 0;
    left: 0;
}

.navBarContainer a{
    text-decoration: none;
    font-size: 2rem;
    margin: 1rem;
    color:#5da0fe;
}


.navBarContainer a:visited{
    color:#5da0fe;
}


.navBarContainer h3{
    margin: 0 1rem;
    font-size: 2.5rem;
    color: #015DE1;
}


.burgerContainer{
    background-color: transparent;
    border: none;
}
.burgerContainer svg {
    height: 2rem;
}


.linksContainer{
    display: none;
    flex-direction: column;
}

.mobileContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.linksOpen{
    display: flex;
    width: 100%;
    height: calc(100vh - 2rem);
}

.burgerContainer svg{
    fill: #015DE1;
}

@media (min-width: 768px){

    .navBarContainer{
        flex-direction: row;
    }
    .burgerContainer{
        display: none;
    }

    .linksContainer{
        display: block;
        width: 25%;
    }
    .navBarContainer a{
        font-size: 1.5rem;
        margin: 0 1rem;
    }

    .navBarContainer h3{
        font-size: 1.5rem;
    }

}
